<p
  class="bg-gradient-to-r from-[#ffb9d7] to-[#cdc5ff] dark:from-[#72304c] dark:to-[#33277d] dark:text-white py-2 px-4 text-center text-sm"
>
  This is a calendar UI built using Angular. Check out the
  <a
    href="https://rienst.github.io/calendar-ui/react/"
    target="_blank"
    class="underline underline-offset-2"
    >React version</a
  >
  or the
  <a
    href="https://github.com/rienst/calendar-ui"
    target="_blank"
    class="underline underline-offset-2"
    >source on GitHub</a
  >.
</p>
