<div
  class="flex gap-0.5 p-0.5 rounded-full border-2 border-black/15 dark:border-white/15"
>
  @for (option of options(); track option.id || option.value) {
  <button
    [ngClass]="{
      'cursor-pointer text-sm px-4 py-1 rounded-full border-2': true,
      'text-white bg-blue-500 border-blue-500 dark:border-blue-600 dark:bg-blue-600':
        value() === option.value,
      'border-transparent hover:bg-neutral-200 hover:border-neutral-200 dark:hover:bg-neutral-700 dark:hover:border-neutral-700':
        value() !== option.value
    }"
    (click)="select(option.value)"
  >
    {{ option.label }}
  </button>
  }
</div>
